$name = $_GET['name'];
$date = $_GET['date'];
$company_name = $_GET['company_name'];
$contact_number = $_GET['contact_number'];
$driver_name = $_GET['driver_name'];
$driver_surname = $_GET['driver_surname'];
$driver_id_number = $_GET['driver_id_number'];

$vehicle_make = $_GET['vehicle_make'];
$vehicle_mode = $_GET['vehicle_mode'];
$vehicle_license = $_GET['vehicle_license'];

$trailer_make = $_GET['trailer_make'];
$trailer_mode = $_GET['trailer_mode'];
$trailer_license = $_GET['trailer_license'];

$name_of_commodity = $_GET['name_of_commodity'];
$type_of_package = $_GET['type_of_package'];
$number_of_unit = $_GET['number_of_unit'];
$weight = $_GET["weight'];


$name = $_GET['name'];
$date = $_GET['date'];
$company_name = $_GET['company_name'];
$contact_number = $_GET['contact_number'];
$driver_name = $_GET['driver_name'];
$driver_surname = $_GET['driver_surname'];
$driver_id_number = $_GET['driver_id_number'];
$vehicle_make = $_GET['vehicle_make'];
$vehicle_model = $_GET['vehicle_model'];
$vehicle_license = $_GET['vehicle_license'];
$trailer_make = $_GET['trailer_make'];
$trailer_model = $_GET['trailer_model'];
$trailer_license = $_GET['trailer_license'];
$name_of_commodity = $_GET['name_of_commodity'];
$type_of_package = $_GET['type_of_package'];
$number_of_unit = $_GET['number_of_unit'];
$weight = $_GET['weight'];
$image = $_GET['image'];
$image_token = $_GET['image_token'];
$verify_url = $_GET['verify_url'];