.nav-container{
    width: 100%;
    background: #333333;
    height: 71px;
    position: fixed;
    top: 0;
    z-index: 999;
        margin: auto;
    left: 0;
    right: 0;
}
.nav{
    width: 73%;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}
.nav > div{
    width: 23%;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}
.profile{
    display: flex;
    justify-content: end;
    align-items: center;
    width: fit-content !important;
    position: relative;
    height: 100%;
    cursor: pointer;
    text-align: end;
}
.profile:hover .dropdown-wrapper{
    height: fit-content;
    transition: var(--transition);
}
.profile > p{
    color: #fff;
    margin-right: 10px;
    width: fit-content;
    white-space: nowrap;
}
.profile > i{
    margin-left: 7px;
    color: #fff;
    font-size: 13px;
}
.dropdown-wrapper{
    position: absolute;
    bottom: 0;
    width: 200px;
    top: 100%;
    border-bottom: 2px solid #fff;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    background: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    overflow: hidden;
    height: 0;
    transition: var(--transition);
}
.dropdown-wrapper > li{
    list-style: none;
    padding: 11px;
    border-bottom: 1px solid #fff;
    width: 100%;
}
.dropdown-wrapper > li > a{
    font-style: normal;
    text-decoration: none;
    width: 93%;
    color: #fff;
    display: inline-block;
    text-align: start;
    font-size: 15px;
}
.dropdown-wrapper > li > a >i{
    font-size: 17px;
    color: grey;
    margin-right: 10px;
}
.logo > p{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
